html {
    background-color: #343636;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

form {
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    font-size: 14px;
    border: 2px solid #aaa;
    border-radius: 5px;
    border: 3px solid #819492;
}

label {
    display: inline-block;
    position: relative;
    width: 75px;
    margin-bottom: 10px;

}

input {
    width: 200px;
    height: 30px;
    padding: 10px;
    border: 2px solid #343636;
    background-color: #252828;
    color: #fff;
    box-sizing: border-box;
}

.helptip {
    display: none;
    position: absolute;
    top: 130px;
    right: 250px;
    width: 250px;
    padding: 6px;
    border: 2px solid #343636;
    background-color: #252828;
    text-align: center;
    box-sizing: border-box;
}

.help {
    display: block;
    width: 135px;
    margin-top: 30px;
    margin-left: 400px;
    padding: 5px;
    border: 1px solid #343636;
    border-radius: 5px;
    outline: 0;
    background-color: #00bad4;
    font-weight: bold;
}
